/*product*/
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 0 10px white;
    padding: 0 10px;
}

.product {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    border: 1px solid white;
    background-color: #E64A19;
    margin-top: 15px;

}

.product_style_img {
    width: 250px;
    height: 250px;
    margin: 0 20px 0 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_style_img img {
    max-width: 250px;
    max-height: 250px;
    display: block;
}

.product h3 {
    font-size: 16px;
    text-align: center;
    background-color: #E64A19;
    margin: auto;
}

.product p {
    margin: 0;
    text-align: center;
    font-size: 16px;
}

/*orders*/


#chosenOrders {
    display: flex;
    margin-top: 15px;
}

.chosenProducts {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.orderCard {
    display: flex;
    margin: 5px;
    box-shadow: 0 0 10px white;
    box-sizing: border-box;
}

.order_style_title {
    display: flex;
    align-items: center;
    width: 500px;
}

.order_style_price {
    display: flex;
    align-items: center;
    font-size: 18px;
    min-width: 100px;
    padding-left: 15px;
}

.orderCard img {
    max-width: 100px;
    max-height: 100px;
    display: block;
}

.order_style_img {
    width: 100px;
    height: 100px;
    margin: 0 20px 0 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_select {
    display: inline-block;
    padding: 10px;
    background-color: #E64A19;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    margin-left: 25px;
    margin-bottom: 15px;

}

